#container{
    display: flex;
    width: 20%;
}
.TODOCARD{
    display: flex;
}
.Title{
    text-align: center;
}
.input__container{
    text-align:center
}
.TODOCARD{
    display: flex;
    justify-content: space-evenly
}