@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Roboto+Mono:wght@100;200&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #5D5D81;
}
h1{
    color: #FEFCFD;
    font-size: 9vh;
}
#container{
    display: flex;
    width: 20%;
}
.TODOCARD{
    display: flex;
}
.Title{
    text-align: center;
}
.input__container{
    text-align:center
}
.TODOCARD{
    display: flex;
    justify-content: space-evenly
}
#text__val{
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid #fefcfd;
  font-size: 1.3rem;
  color: #FEFCFD;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
::placeholder{
    color: #FEFCFD;
}

#date__val{
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid #fefcfd;
    font-size: 1.3rem;
    color: #FEFCFD;
    padding: 5.5px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
#enter__button{
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid #fefcfd;
    font-size: 1.3rem;
    color: #FEFCFD;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}